fastapi
uvicorn[standard]
python-multipart
jinja2
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-classic
langchain-chroma

chromadb
langchain-google-genai
langchain-groq
google-genai
groq

langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk

faiss-cpu
pypdf
gTTS

sqlalchemy
passlib[bcrypt]
python-jose[cryptography]