fastapi
uvicorn[standard]
python-multipart
jinja2
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-groq
langgraph
chromadb
faiss-cpu
pypdf
gTTS
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]